body {
    margin: 0;
}

ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
}


.page {
    height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#loginPage {
    display: flex;
    background-color: #fff;
}

#loginNameInput {
    width: 100%;
    max-width: 400px;
    border: 2px solid #000;
    background-color: #ccc;
    font-size: 18px;
    padding: 10px;
    border-radius: 5px;
    outline: 0;
}

#chatPage {
    display: none;
}

.chatArea {
    width: 100%;
    flex: 1;
    display: flex;
    background-color: #ccc;
}

.chatList {
    flex: 1;
    background-color: #fff;
    overflow-y: scroll;
    max-height: calc(100vh - 40px);
}

.chatList li {
    font-size: 15px;
    padding: 3px;
}

.chatList li.m-status {
    color: #333;
    font-style: italic;
}

.chatList li.m-txt span {
    color: #00f;
    font-weight: bold;
}

.chatList li.me span {
    color: #f00;
}
.usersList {
    width: 200px;
    background-color: #ccc;
    overflow-y: scroll;
    max-height: calc(100vh - 40px);
}

.usersList li {
    padding: 10px;
    font-size: 15px;
}

.chatInput {
    width: 100%;
    display: flex;
}

#chatTextInput {
    flex: 1;
    background-color: #ccc;
    font-size: 15px;
    height: 40px;
    border: 0;
    outline: 0;
    padding: 0 10px;

}


